*{
    margin: 0;
    height: 0;
}

h1{
    text-align: center;
    margin: 5% auto;
}

table{
    margin: 5% auto;
    border: 1px solid;
}



th{
    width: 100px;
    height: 30px;
    background-color: rgba(208, 208, 223, 0.709);
    border: 1px solid;
}

td{
    background-color: rgba(208, 208, 223, 0.709);
    width: 100px;
    height: 30px;
    border: 1px solid;
    text-align: center;
}